In [108]:
import pandas as pd
import numpy as np
from pandas.util.testing import assert_frame_equal

/Users/shreyamantripragada/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [2]:
file_path = '/Users/shreyamantripragada/PycharmProjects/read_clustering/tests/test_files/test_variant_call.csv'

In [4]:
data = pd.read_csv(file_path, sep = ',')
data.head()

,read_id,contig,reference_index,strand,variants,prob1,prob2,prob3
0,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,973,+,Aa,0.986967,0.013033,NaN
1,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,998,+,Tl,0.782696,0.217304,NaN
2,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,1006,+,Cb,1.000000,0.000000,NaN
3,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,1125,+,Gc,1.000000,0.000000,NaN
4,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,1180,+,Tl,1.000000,0.000000,NaN

In [214]:
def get_variant_sets():
    temp_df = data[['variants']]
    temp_df = temp_df.drop_duplicates()
    return temp_df

In [215]:
##TEST for get_variant_sets() mehod
get_variant_sets()

   variants
0        Aa
1        Tl
2        Cb
3        Gc
6        Tg
7        Td
9        Ci
14       Gk
17       Aj
22      Tdm
30       Th
41       Ce
90       Af

In [216]:
def get_number_of_variant_sets():
    return len(get_variant_sets())

In [217]:
##TEST for get_number_of_variant_sets() method

print (get_number_of_variant_sets())

13

In [144]:
def get_variant_set_data(variant_set):
    temp_df = data.loc[data['variants'] == variant_set]
    temp_df = temp_df.round(6)
    temp_df = temp_df.drop_duplicates()
    return temp_df

In [145]:
##TEST for get_variant_set_data(variant_set) method

get_variant_set_data("Tdm")

,read_id,contig,reference_index,strand,variants,prob1,prob2,prob3
22,02636c05-538f-4647-b3ec-8e3a8c5eb10e,RDN25-1,2346,+,Tdm,0.902366,0.048817,0.048817
58,01196b69-900b-4dc0-95a7-169cd79fae9b,RDN25-1,2346,+,Tdm,0.722098,0.138951,0.138951
106,03e6757b-31de-4b13-ab18-57f375404f28,RDN25-1,2346,+,Tdm,0.739977,0.130012,0.130012
292,04c78365-fd9f-4391-8ddb-277620028285,RDN25-1,2346,+,Tdm,0.794725,0.102638,0.102638
370,02d4da5c-ec95-43ac-ac61-9f98ef4a4ca1,RDN25-1,2346,+,Tdm,0.840949,0.079525,0.079525

In [146]:
def get_positions_of_variant_set(variant_set):
    temp_df = data[data['variants'] == variant_set]
    temp_df = temp_df[['contig', 'reference_index', 'strand', 'variants']]
    temp_df = temp_df.drop_duplicates()
    return temp_df

In [148]:
##TEST for get_positions_of_variant_set(variant_set) method

get_positions_of_variant_set("Tdm")

     contig  reference_index strand variants
22  RDN25-1             2346      +      Tdm

In [188]:
def get_variant_sets_data(variant_sets):
    temp_df = pd.DataFrame()
    for variant in variant_sets:
        found = data.loc[data['variants'] == variant]
        temp_df = temp_df.append(found)
        temp_df = temp_df.drop_duplicates()
    return temp_df

In [189]:
##TEST for the get_variant_sets_data() method
get_variant_sets_data(['Tdm', 'Gk'])

,read_id,contig,reference_index,strand,variants,prob1,prob2,prob3
22,02636c05-538f-4647-b3ec-8e3a8c5eb10e,RDN25-1,2346,+,Tdm,0.902366,0.048817,0.048817
58,01196b69-900b-4dc0-95a7-169cd79fae9b,RDN25-1,2346,+,Tdm,0.722098,0.138951,0.138951
106,03e6757b-31de-4b13-ab18-57f375404f28,RDN25-1,2346,+,Tdm,0.739977,0.130012,0.130012
292,04c78365-fd9f-4391-8ddb-277620028285,RDN25-1,2346,+,Tdm,0.794725,0.102638,0.102638
370,02d4da5c-ec95-43ac-ac61-9f98ef4a4ca1,RDN25-1,2346,+,Tdm,0.840949,0.079525,0.079525
14,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,1574,+,Gk,0.256589,0.743411,NaN
149,043a9f51-5127-4a29-bdfd-5154cf3fa3a7,RDN18-1,1574,+,Gk,0.970518,0.029482,NaN
180,031b1662-cbda-4efd-9120-257ac7b32eea,RDN18-1,1574,+,Gk,0.947118,0.052882,NaN
217,02c6037c-d73b-414d-9090-0bfe88a1e0b0,RDN18-1,1574,+,Gk,0.301744,0.698256,NaN
243,04ac5ad4-d0d2-4bb4-bc8b-ff3b713661dc,RDN18-1,1574,+,Gk,0.496635,0.503365,NaN
280,02381d7b-ad58-4d21-8ee3-f77401c13814,RDN18-1,1574,+,Gk,0.215732,0.784268,NaN
353,02d2f886-87ff-4ab4-98f1-3eeb642f00c2,RDN18-1,1574,+,Gk,1.000000,0.000000,NaN

In [203]:
def get_positions_of_variant_set(variant_sets):
    final_df = pd.DataFrame()
    for variant in variant_sets:
        get_variant = data[data['variants'] == variant]
        final_df = final_df.append(get_variant[['contig', 'reference_index', 'strand', 'variants']])
        final_df = final_df.drop_duplicates()
    return final_df

In [204]:
##TEST for the get_positions_of_variant_sets() method

get_positions_of_variant_set(['Tdm', 'Gk'])

     contig  reference_index strand variants
22  RDN25-1             2346      +      Tdm
14  RDN18-1             1574      +       Gk

In [255]:
data.loc[data['variants'][0].isin("Aa")]

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]

In [6]:
cols = ['variants', 'reference_index']

In [7]:
data[cols]

    variants  reference_index
0         Aa              973
1         Tl              998
2         Cb             1006
3         Gc             1125
4         Tl             1180
..       ...              ...
394       Tl             2943
395       Aa             2945
396       Cb             2947
397       Cb             2958
398       Tl             2974

[399 rows x 2 columns]

In [8]:
data.head()

,read_id,contig,reference_index,strand,variants,prob1,prob2,prob3
0,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,973,+,Aa,0.986967,0.013033,NaN
1,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,998,+,Tl,0.782696,0.217304,NaN
2,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,1006,+,Cb,1.000000,0.000000,NaN
3,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,1125,+,Gc,1.000000,0.000000,NaN
4,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,1180,+,Tl,1.000000,0.000000,NaN

In [10]:
df.loc[df['variants'] == 'Aa']

,read_id,contig,reference_index,strand,variants,prob1,prob2,prob3
0,028a34d4-2a7a-44e7-ab23-305915996ec8,RDN18-1,973,+,Aa,0.986967,0.013033,NaN
31,02636c05-538f-4647-b3ec-8e3a8c5eb10e,RDN25-1,2639,+,Aa,0.575270,0.424730,NaN
47,02636c05-538f-4647-b3ec-8e3a8c5eb10e,RDN25-1,2945,+,Aa,0.378996,0.621004,NaN
52,01196b69-900b-4dc0-95a7-169cd79fae9b,RDN25-1,2279,+,Aa,0.497590,0.502410,NaN
53,01196b69-900b-4dc0-95a7-169cd79fae9b,RDN25-1,2280,+,Aa,0.957080,0.042920,NaN
67,01196b69-900b-4dc0-95a7-169cd79fae9b,RDN25-1,2639,+,Aa,0.033074,0.966926,NaN
83,01196b69-900b-4dc0-95a7-169cd79fae9b,RDN25-1,2945,+,Aa,0.503494,0.496506,NaN
93,03e6757b-31de-4b13-ab18-57f375404f28,RDN25-1,2219,+,Aa,0.451525,0.548475,NaN
94,03e6757b-31de-4b13-ab18-57f375404f28,RDN25-1,2255,+,Aa,1.000000,0.000000,NaN
100,03e6757b-31de-4b13-ab18-57f375404f28,RDN25-1,2279,+,Aa,0.988568,0.011432,NaN
101,03e6757b-31de-4b13-ab18-57f375404f28,RDN25-1,2280,+,Aa,0.012906,0.987094,NaN
115,03e6757b-31de-4b13-ab18-57f375404f28,RDN25-1,2639,+,Aa,0.789597,0.210403,NaN
131,03e6757b-31de-4b13-ab18-57f375404f28,RDN25-1,2945,+,Aa,0.539099,0.460901,NaN
135,043a9f51-5127-4a29-bdfd-5154cf3fa3a7,RDN18-1,973,+,Aa,0.962937,0.037063,NaN
155,031b1662-cbda-4efd-9120-257ac7b32eea,RDN18-1,419,+,Aa,0.993267,0.006733,NaN
156,031b1662-cbda-4efd-9120-257ac7b32eea,RDN18-1,435,+,Aa,0.980149,0.019851,NaN
158,031b1662-cbda-4efd-9120-257ac7b32eea,RDN18-1,540,+,Aa,1.000000,0.000000,NaN
161,031b1662-cbda-4efd-9120-257ac7b32eea,RDN18-1,618,+,Aa,1.000000,0.000000,NaN
165,031b1662-cbda-4efd-9120-257ac7b32eea,RDN18-1,795,+,Aa,1.000000,0.000000,NaN
166,031b1662-cbda-4efd-9120-257ac7b32eea,RDN18-1,973,+,Aa,0.891533,0.108467,NaN
185,02c6037c-d73b-414d-9090-0bfe88a1e0b0,RDN18-1,27,+,Aa,1.000000,0.000000,NaN
186,02c6037c-d73b-414d-9090-0bfe88a1e0b0,RDN18-1,99,+,Aa,1.000000,0.000000,NaN
192,02c6037c-d73b-414d-9090-0bfe88a1e0b0,RDN18-1,419,+,Aa,0.906248,0.093752,NaN
193,02c6037c-d73b-414d-9090-0bfe88a1e0b0,RDN18-1,435,+,Aa,0.190186,0.809814,NaN
195,02c6037c-d73b-414d-9090-0bfe88a1e0b0,RDN18-1,540,+,Aa,1.000000,0.000000,NaN
198,02c6037c-d73b-414d-9090-0bfe88a1e0b0,RDN18-1,618,+,Aa,1.000000,0.000000,NaN
202,02c6037c-d73b-414d-9090-0bfe88a1e0b0,RDN18-1,795,+,Aa,1.000000,0.000000,NaN
203,02c6037c-d73b-414d-9090-0bfe88a1e0b0,RDN18-1,973,+,Aa,1.000000,0.000000,NaN
219,04ac5ad4-d0d2-4bb4-bc8b-ff3b713661dc,RDN18-1,435,+,Aa,0.000000,1.000000,NaN
221,04ac5ad4-d0d2-4bb4-bc8b-ff3b713661dc,RDN18-1,540,+,Aa,1.000000,0.000000,NaN
224,04ac5ad4-d0d2-4bb4-bc8b-ff3b713661dc,RDN18-1,618,+,Aa,1.000000,0.000000,NaN
228,04ac5ad4-d0d2-4bb4-bc8b-ff3b713661dc,RDN18-1,795,+,Aa,1.000000,0.000000,NaN
229,04ac5ad4-d0d2-4bb4-bc8b-ff3b713661dc,RDN18-1,973,+,Aa,0.431048,0.568952,NaN
248,02381d7b-ad58-4d21-8ee3-f77401c13814,RDN18-1,27,+,Aa,1.000000,0.000000,NaN
249,02381d7b-ad58-4d21-8ee3-f77401c13814,RDN18-1,99,+,Aa,1.000000,0.000000,NaN
255,02381d7b-ad58-4d21-8ee3-f77401c13814,RDN18-1,419,+,Aa,0.328960,0.671040,NaN
256,02381d7b-ad58-4d21-8ee3-f77401c13814,RDN18-1,435,+,Aa,0.791444,0.208556,NaN
258,02381d7b-ad58-4d21-8ee3-f77401c13814,RDN18-1,540,+,Aa,1.000000,0.000000,NaN
261,02381d7b-ad58-4d21-8ee3-f77401c13814,RDN18-1,618,+,Aa,0.940386,0.059614,NaN
265,02381d7b-ad58-4d21-8ee3-f77401c13814,RDN18-1,795,+,Aa,1.000000,0.000000,NaN
266,02381d7b-ad58-4d21-8ee3-f77401c13814,RDN18-1,973,+,Aa,0.981797,0.018203,NaN
286,04c78365-fd9f-4391-8ddb-277620028285,RDN25-1,2279,+,Aa,0.000000,1.000000,NaN
287,04c78365-fd9f-4391-8ddb-277620028285,RDN25-1,2280,+,Aa,0.000000,1.000000,NaN
301,04c78365-fd9f-4391-8ddb-277620028285,RDN25-1,2639,+,Aa,0.493262,0.506738,NaN
317,04c78365-fd9f-4391-8ddb-277620028285,RDN25-1,2945,+,Aa,0.492447,0.507553,NaN
321,02d2f886-87ff-4ab4-98f1-3eeb642f00c2,RDN18-1,27,+,Aa,1.000000,0.000000,NaN
322,02d2f886-87ff-4ab4-98f1-3eeb642f00c2,RDN18-1,99,+,Aa,1.000000,0.000000,NaN
328,02d2f886-87ff-4ab4-98f1-3eeb642f00c2,RDN18-1,419,+,Aa,0.091397,0.908603,NaN
329,02d2f886-87ff-4ab4-98f1-3eeb642f00c2,RDN18-1,435,+,Aa,0.961729,0.038271,NaN
331,02d2f886-87ff-4ab4-98f1-3eeb642f00c2,RDN18-1,540,+,Aa,1.000000,0.000000,NaN
334,02d2f886-87ff-4ab4-98f1-3eeb642f00c2,RDN18-1,618,+,Aa,1.000000,0.000000,NaN
338,02d2f886-87ff-4ab4-98f1-3eeb642f00c2,RDN18-1,795,+,Aa,1.000000,0.000000,NaN
339,02d2f886-87ff-4ab4-98f1-3eeb642f00c2,RDN18-1,973,+,Aa,0.995023,0.004977,NaN
358,02d4da5c-ec95-43ac-ac61-9f98ef4a4ca1,RDN25-1,2255,+,Aa,1.000000,0.000000,NaN
364,02d4da5c-ec95-43ac-ac61-9f98ef4a4ca1,RDN25-1,2279,+,Aa,0.507390,0.492610,NaN
365,02d4da5c-ec95-43ac-ac61-9f98ef4a4ca1,RDN25-1,2280,+,Aa,1.000000,0.000000,NaN
379,02d4da5c-ec95-43ac-ac61-9f98ef4a4ca1,RDN25-1,2639,+,Aa,0.995203,0.004797,NaN
395,02d4da5c-ec95-43ac-ac61-9f98ef4a4ca1,RDN25-1,2945,+,Aa,0.623429,0.376571,NaN

df1 = pd.DataFrame({'a': [1, 2], 'b': [3, 4]})
df1.head()

In [112]:
 temp_df = pd.DataFrame({'read_id' : ['02636c05-538f-4647-b3ec-8e3a8c5eb10e', '01196b69-900b-4dc0-95a7-169cd79fae9b',
                                            '03e6757b-31de-4b13-ab18-57f375404f28', '04c78365-fd9f-4391-8ddb-277620028285',
                                            '02d4da5c-ec95-43ac-ac61-9f98ef4a4ca1'], 'contig': ['RDN25-1', 'RDN25-1', 'RDN25-1',
                                'RDN25-1', 'RDN25-1'], 'reference_index': ['2346', '2346', '2346', '2346', '2346'],
                                'strand': ['+', '+', '+', '+', '+'], 'variants' : ['Tdm', 'Tdm', 'Tdm', 'Tdm', 'Tdm'],
                                'prob1': ['0.902366', '0.722098', '0.739977', '0.794725', '0.840949'], 'prob2' : ['0.048817',
                                '0.138951', '0.130012', '0.102638', '0.079525'], 'prob3': ['0.048817',
                                '0.138951', '0.130012', '0.102638', '0.079525']}, dtype = "int64")

temp_df = temp_df.astype({"prob1": float, "prob2": float, "prob3": float})
temp_df.head()
#print (temp_df.dtypes)

,read_id,contig,reference_index,strand,variants,prob1,prob2,prob3
0,02636c05-538f-4647-b3ec-8e3a8c5eb10e,RDN25-1,2346,+,Tdm,0.902366,0.048817,0.048817
1,01196b69-900b-4dc0-95a7-169cd79fae9b,RDN25-1,2346,+,Tdm,0.722098,0.138951,0.138951
2,03e6757b-31de-4b13-ab18-57f375404f28,RDN25-1,2346,+,Tdm,0.739977,0.130012,0.130012
3,04c78365-fd9f-4391-8ddb-277620028285,RDN25-1,2346,+,Tdm,0.794725,0.102638,0.102638
4,02d4da5c-ec95-43ac-ac61-9f98ef4a4ca1,RDN25-1,2346,+,Tdm,0.840949,0.079525,0.079525

In [127]:
data_table = get_variant_set_data("Tdm")
data_table['prob2'].round(6)
data_table.head()
print (get_variant_set_data("Tdm").dtypes)

read_id             object
contig              object
reference_index      int64
strand              object
variants            object
prob1              float64
prob2              float64
prob3              float64
dtype: object

In [131]:
#get_variant_set_data("Tdm")['prob2']
assert_frame_equal(temp_df.reset_index(drop=True), (get_variant_set_data("Tdm")).reset_index(drop=True))

In [125]:
print (get_variant_set_data("Tdm")['prob2'])

22     0.048817
58     0.138951
106    0.130012
292    0.102638
370    0.079525
Name: prob2, dtype: float64

In [126]:
print (temp_df['prob2'])

0    0.048817
1    0.138951
2    0.130012
3    0.102638
4    0.079525
Name: prob2, dtype: float64